* {
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka", sans-serif;
}



.x{
  color: rgb(255, 70, 37);
  cursor: pointer;
}

.o{
  color: rgb(44, 135, 255);
  cursor: pointer;
}

.tie{
  color: rgb(0, 110, 255);
}